@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'Jetbrains Mono', monospace;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  
.animate-blink {
    animation: blink 1s infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;