


.scroller{

    scrollbar-color: #3949AB black;
    
    scrollbar-width: 12px;
}
.scroller::-webkit-scrollbar{
    width: 12px;
}
.scroller::-webkit-scrollbar-track{
    background-color: black;

}
.scroller::-webkit-scrollbar{
    background-color: #3949AB;
    border-radius: 10px;
    
}
